* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /*
* Created with https://www.css-gradient.com
* Gradient link: https://www.css-gradient.com/?c1=f4ef84&c2=d8bd3c&gt=l&gd=dtl
*/
  background: #f4ef84;
  background: linear-gradient(135deg, #f4ef84, #d8bd3c) no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
main {
  display: flex;
  font-size: 22px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
canvas {
  margin-top: 30px;
  border: solid 2px;
}
.gameOver,
.win {
  position: absolute;
  border: 1px solid #000000;
  width: 50%;
  height: 150px;
  display: none;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  bottom: 220px;
  gap: 5px;
  background-color: rgba(199, 227, 225, 0.3);
  backdrop-filter: blur(7.1px);
  -webkit-backdrop-filter: blur(7.1px);
}
.restart {
  width: 40%;
  height: 26%;
  font-weight: bold;
  background-color: #f4ef84;
  cursor: pointer;
  transition: 0.2s;
}
.restart:hover {
  transform: scale(1.1);
  cursor: pointer;
}
